---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vxflexos-pvc
spec:
  storageClassName: vxflexos-storage-class
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi