{'AnnouncedTarget': [{% for server in announced_hosts.json.value %}{% if server.Status == 1 %}{'ServiceTag': '{{ server.ServiceTag }}','UserName': '{{ idrac_user }}','Password': '{{ idrac_pass }}','CredentialType': 'WSMAN'}{{ "," if not loop.last }}{% endif %}{% endfor %}]}