---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sqlserver-pvc
  namespace: sqlserver
spec:
  storageClassName: vxflexos-storage-class
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi