---
kind: Secret
apiVersion: v1
metadata:
  name: vxflexos-config
stringData:
  config: |
    - username: "{{ powerflex_username }}"
      password: "{{ powerflex_password }}"
      systemID: "{{ powerflex_system_id }}"
      endpoint: "{{ powerflex_endpoint }}"
      skipCertificateValidation: true
      isDefault: true
      mdm: "{{ powerflex_mdm_ip }}"
type: Opaque